In [1]:
import os as os

In [2]:
os.getcwd()

'C:\\Users\\Jay'

In [3]:
os.listdir()

['.android',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.spyder-py3',
 '.VirtualBox',
 'Anaconda3',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'daemonprocess.txt',
 'Desktop',
 'Documents',
 'Downloads',
 'Dropbox',
 'Favorites',
 'introductory python wk2.ipynb',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'my first class in python-Copy1.ipynb',
 'my first class in python-Copy2.ipynb',
 'my first class in python.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{3559ea78-e1b5-11e5-96d3-8a3ff8193148}.TxR.0.regtrans-ms',
 'NTUSER.DAT{3559ea78-e1b5-11e5-96d3-8a3ff8193148}.TxR.1.regtrans-ms',
 'NTUSER.DAT{3559ea78-e1b5-11e5-96d3-8a3ff8193148}.TxR.2.regtrans-ms',
 'NTUSER.DAT{3559ea78-e1b5-11e5-96d3-8a3ff8193148}.TxR.blf',
 'NTUSER.DAT{3559ea79-e1b5-11e5-96d3-8a3ff8193148}.TM.blf',
 'NTUSER.DAT{3559ea79-e1b5-11e5-96d3-8a3ff8193148}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{3559ea79-e1b5-11e5-96d3-8a3ff8193148}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'ntuser.pol',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Tracing',
 'Videos']

In [4]:
os.chdir('C:\\Users\\Jay')

In [10]:
mystring='Hello World'

In [11]:
mystring

'Hello World'

In [12]:
mystring[1]

'e'

In [14]:
mystring[0]

'H'

In [15]:
print(mystring)

Hello World

In [16]:
type(mystring)

str

In [17]:
newstring2='Aye aye me heartie\'s'

In [18]:
newstring3="Aye aye me heartie's"

In [19]:
10*newstring3

"Aye aye me heartie'sAye aye me heartie'sAye aye me heartie'sAye aye me heartie'sAye aye me heartie'sAye aye me heartie'sAye aye me heartie'sAye aye me heartie'sAye aye me heartie'sAye aye me heartie's"

In [26]:
ne1="'Ajay','Vijay','Anita','Ankit'"

In [27]:
str(ne1)

"'Ajay','Vijay','Anita','Ankit'"

In [23]:
ne1[1]

'j'

In [24]:
ne2=['Ajay,Vijay,Anita,Ankit']

In [25]:
str(ne2)

"['Ajay,Vijay,Anita,Ankit']"

In [28]:
myname1='Ajay'
myname2='John'

In [29]:
message="Hi I am %s howdy"

In [30]:
message%myname1

'Hi I am Ajay howdy'

In [31]:
message%myname2

'Hi I am John howdy'

In [32]:
ne2.append('Anna')

In [33]:
ne2

['Ajay,Vijay,Anita,Ankit', 'Anna']

In [34]:
ne3=('Sachin','Dhoni','Gavaskar','Kapil')

In [36]:
dir(ne3)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [35]:
ne3.append('Vijay')

AttributeError: 'tuple' object has no attribute 'append'

In [37]:
favourite_movie=['micky mouse,steamboat willie', 'vijay,slumdog millionaire', 'john,passion of christ', 'donald,arthur']

In [38]:
type(favourite_movie)

list

In [40]:
favourite_movie2={'micky mouse':'steamboat willie', 'vijay':'slumdog millionaire', 'john':'passion of christ', 'donald':'arthur'}

In [41]:
type(favourite_movie2)

dict

In [43]:
favourite_movie2['micky mouse']

'steamboat willie'

In [44]:
import re

In [45]:
names = ["Anna","Anne","Annaporna","Shubham"]

In [46]:
for name in names:
    print(re.search(r'(An)',name))

<_sre.SRE_Match object; span=(0, 2), match='An'>
<_sre.SRE_Match object; span=(0, 2), match='An'>
<_sre.SRE_Match object; span=(0, 2), match='An'>
None

In [47]:
for name in names:
    print(re.search(r'(A)',name))

<_sre.SRE_Match object; span=(0, 1), match='A'>
<_sre.SRE_Match object; span=(0, 1), match='A'>
<_sre.SRE_Match object; span=(0, 1), match='A'>
None

In [48]:
for name in names:
    print(re.search(r'(a)',name))

<_sre.SRE_Match object; span=(3, 4), match='a'>
None
<_sre.SRE_Match object; span=(3, 4), match='a'>
<_sre.SRE_Match object; span=(5, 6), match='a'>

In [50]:
for name in names:
    print(bool(re.search(r'(a)',name)))

True
False
True
True

In [51]:
import numpy as np

In [52]:
numlist=["$10000","$20000","30,000",40000,"50000"]

In [55]:
for i,value in enumerate(numlist):
    
    numlist[i]=re.sub(r"([$,])","",str(value))
    numlist[i]=int(numlist[i])

In [56]:
for i,value in enumerate(numlist):
    print(i)
    print(value)

0
10000
1
20000
2
30000
3
40000
4
50000

In [57]:
from datetime import datetime

In [58]:
datetime.now()

datetime.datetime(2017, 4, 15, 14, 32, 10, 543938)

In [60]:
date_obj=datetime.strptime("15/August/2007","%d/%B/%Y")

In [61]:
date_obj

datetime.datetime(2007, 8, 15, 0, 0)

In [62]:
import IPython

In [63]:
print(IPython.sys_info())

{'commit_hash': '5c9c918',
 'commit_source': 'installation',
 'default_encoding': 'cp1252',
 'ipython_path': 'C:\\anaconda 64b\\lib\\site-packages\\IPython',
 'ipython_version': '5.1.0',
 'os_name': 'nt',
 'platform': 'Windows-10-10.0.10586-SP0',
 'sys_executable': 'C:\\anaconda 64b\\python.exe',
 'sys_platform': 'win32',
 'sys_version': '3.6.0 |Anaconda 4.3.1 (64-bit)| (default, Dec 23 2016, '
                '11:57:41) [MSC v.1900 64 bit (AMD64)]'}

In [64]:
import pandas as pd

In [70]:
mtcars=pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/mtcars.csv")

In [69]:
mtcars=pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/mtcars.csv")

In [66]:
getwd()

NameError: name 'getwd' is not defined

In [67]:
setwd()

NameError: name 'setwd' is not defined

In [ ]:
os.chdir('C:\Users\Dell\Downloads')

In [68]:
os.chdir('C:\Users\Dell\Downloads')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-68-f15b5ac02fb5>, line 1)

In [71]:
import IPython

In [72]:
print(IPython.sys_info())

{'commit_hash': '5c9c918',
 'commit_source': 'installation',
 'default_encoding': 'cp1252',
 'ipython_path': 'C:\\anaconda 64b\\lib\\site-packages\\IPython',
 'ipython_version': '5.1.0',
 'os_name': 'nt',
 'platform': 'Windows-10-10.0.10586-SP0',
 'sys_executable': 'C:\\anaconda 64b\\python.exe',
 'sys_platform': 'win32',
 'sys_version': '3.6.0 |Anaconda 4.3.1 (64-bit)| (default, Dec 23 2016, '
                '11:57:41) [MSC v.1900 64 bit (AMD64)]'}

In [73]:
!pip install version_information

Collecting version_information
  Downloading version_information-1.0.3.tar.gz
Building wheels for collected packages: version-information
  Running setup.py bdist_wheel for version-information: started
  Running setup.py bdist_wheel for version-information: finished with status 'done'
  Stored in directory: C:\Users\Jay\AppData\Local\pip\Cache\wheels\4b\4c\f7\4d99d7820a507d8ae55204fcc00d66cdabf596d4b01228e7bd
Successfully built version-information
Installing collected packages: version-information
Successfully installed version-information-1.0.3

In [74]:
%load_ext version_information

In [75]:
%version_information

Software versions
Python 3.6.0 64bit [MSC v.1900 64 bit (AMD64)]
IPython 5.1.0
OS Windows 10 10.0.10586 SP0
Sat Apr 15 15:13:14 2017 India Standard Time

In [76]:
!pip freeze

alabaster==0.7.9
anaconda-client==1.6.0
anaconda-navigator==1.5
anaconda-project==0.4.1
astroid==1.4.9
astropy==1.3
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12.4
boto==2.45.0
Bottleneck==1.2.0
cffi==1.9.1
chardet==2.3.0
chest==0.2.3
click==6.7
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.7
comtypes==1.1.2
conda==4.3.14
configobj==5.0.6
contextlib2==0.5.4
cryptography==1.7.1
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
dask==0.13.0
datashape==0.5.4
decorator==4.0.11
dill==0.2.5
docutils==0.13.1
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.12
Flask-Cors==3.0.2
gevent==1.2.1
greenlet==0.4.11
h5py==2.6.0
HeapDict==1.0.0
idna==2.2
imagesize==0.7.1
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.9.0
Jinja2==2.9.4
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
lazy-object-proxy==1.2.2
llvmlite==0.15.0
locket==0.2.0
lxml==3.7.2
MarkupSafe==0.23
matplotlib==2.0.0
menuinst==1.4.4
mistune==0.7.3
mpmath==0.19
multipledispatch==0.4.9
nbconvert==4.2.0
nbformat==4.2.0
networkx==1.11
nltk==3.2.2
nose==1.3.7
notebook==4.3.1
numba==0.30.1
numexpr==2.6.1
numpy==1.11.3
numpydoc==0.6.0
odo==0.5.0
openpyxl==2.4.1
pandas==0.19.2
partd==0.3.7
path.py==0.0.0
pathlib2==2.2.0
patsy==0.4.1
pep8==1.7.0
pickleshare==0.7.4
Pillow==4.0.0
ply==3.9
prompt-toolkit==1.0.9
psutil==5.0.1
py==1.4.32
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.5.0
Pygments==2.1.3
pylint==1.6.4
pyOpenSSL==16.2.0
pyparsing==2.1.4
pytest==3.0.5
python-dateutil==2.6.0
pytz==2016.10
pywin32==220
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.3
qtconsole==4.2.1
QtPy==1.2.1
requests==2.12.4
rope-py3k==0.9.4.post1
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
sphinx==1.5.1
spyder==3.1.2
SQLAlchemy==1.1.5
statsmodels==0.6.1
sympy==1.0
tables==3.2.2
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.1
unicodecsv==0.14.1
version-information==1.0.3
wcwidth==0.1.7
Werkzeug==0.11.15
widgetsnbextension==1.2.6
win-unicode-console==0.5
wrapt==1.10.8
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.2
xlwt==1.2.0

In [77]:
import os as os

In [78]:
os.getcwd()

'C:\\Users\\Jay'

In [80]:
os.chdir('Desktop')

In [81]:
os.getcwd()

'C:\\Users\\Jay\\Desktop'

In [82]:
os.listdir()

['.picasaoriginals',
 '.Rhistory',
 'BigDiamonds.csv (3).zip',
 'ccFraud (1).csv',
 'desktop.ini',
 'digital vidya',
 'Edge.lnk',
 'goa',
 'Google Chrome.lnk',
 'Internet Explorer.lnk',
 'Invitation List.xls',
 'jay',
 'JAY SHETH - RESUME 2016.doc',
 'mom dad blr',
 'Mozilla Firefox.lnk',
 'New Bitmap Image.bmp',
 'new dissertation',
 'New folder',
 'New Microsoft Office Excel Worksheet (2).xlsx',
 'New Microsoft Office Excel Worksheet.xlsx',
 'New Microsoft Office Word Document.docx',
 'PDFEdit - Shortcut.lnk',
 'Puja',
 'WinX DVD Player.lnk',
 '~$estionnaire - draft.docx',
 '~$gannt chart jay.xlsx',
 '~$mponents of your marketing plan v2.1.docx',
 '~$w Microsoft Office Word Document.docx',
 'µTorrent.lnk']

In [83]:
fraud.head

NameError: name 'fraud' is not defined

In [86]:
mtcars=pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/mtcars.csv")

In [88]:
mtcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [89]:
mtcars.columns[1:]

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [95]:
a=mtcars.iloc[:,1:]
b=mtcars.iloc[:,2:]

print(type(mtcars))
print(type(a))
print(type(b))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [92]:
a

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [96]:
b

    cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0     6  160.0  110  3.90  2.620  16.46   0   1     4     4
1     6  160.0  110  3.90  2.875  17.02   0   1     4     4
2     4  108.0   93  3.85  2.320  18.61   1   1     4     1
3     6  258.0  110  3.08  3.215  19.44   1   0     3     1
4     8  360.0  175  3.15  3.440  17.02   0   0     3     2
5     6  225.0  105  2.76  3.460  20.22   1   0     3     1
6     8  360.0  245  3.21  3.570  15.84   0   0     3     4
7     4  146.7   62  3.69  3.190  20.00   1   0     4     2
8     4  140.8   95  3.92  3.150  22.90   1   0     4     2
9     6  167.6  123  3.92  3.440  18.30   1   0     4     4
10    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [94]:
mtcars.columns[1:]

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [97]:
len(mtcars)

32

In [98]:
mtcars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
Unnamed: 0    32 non-null object
mpg           32 non-null float64
cyl           32 non-null int64
disp          32 non-null float64
hp            32 non-null int64
drat          32 non-null float64
wt            32 non-null float64
qsec          32 non-null float64
vs            32 non-null int64
am            32 non-null int64
gear          32 non-null int64
carb          32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [99]:
mtcars.head(10)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [100]:
mtcars.ix[20:30]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8

In [103]:
! pip install pandasql

Requirement already satisfied: pandasql in c:\anaconda 64b\lib\site-packages
Requirement already satisfied: pandas in c:\anaconda 64b\lib\site-packages (from pandasql)
Requirement already satisfied: sqlalchemy in c:\anaconda 64b\lib\site-packages (from pandasql)
Requirement already satisfied: numpy in c:\anaconda 64b\lib\site-packages (from pandasql)
Requirement already satisfied: python-dateutil>=2 in c:\anaconda 64b\lib\site-packages (from pandas->pandasql)
Requirement already satisfied: pytz>=2011k in c:\anaconda 64b\lib\site-packages (from pandas->pandasql)
Requirement already satisfied: six>=1.5 in c:\anaconda 64b\lib\site-packages (from python-dateutil>=2->pandas->pandasql)

In [104]:
mtcars.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [107]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [112]:
pysqldf("SELECT AVG(mpg),gear FROM mtcars group by gear ;")

    AVG(mpg)  gear
0  16.106667     3
1  24.533333     4
2  21.380000     5

In [114]:
mtcars.mpg.mean()

20.090624999999996

In [115]:
g1=pd.groupby(mtcars,mtcars.gear)

In [116]:
g1.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,carb
gear,,,,,,,,,,
3,16.106667,7.466667,326.300000,176.133333,3.132667,3.892600,17.692,0.200000,0.000000,2.666667
4,24.533333,4.666667,123.016667,89.500000,4.043333,2.616667,18.965,0.833333,0.666667,2.333333
5,21.380000,6.000000,202.480000,195.600000,3.916000,2.632600,15.640,0.200000,1.000000,4.400000

In [117]:
mtcars.gear.value_counts()

3    15
4    12
5     5
Name: gear, dtype: int64

In [118]:
mtcars.cyl.unique()

array([6, 4, 8], dtype=int64)

In [121]:
pd.crosstab(mtcars.gear,mtcars.cyl)

cyl   4  6   8
gear
3     1  2  12
4     8  4   0
5     2  1   2

In [123]:
mtcars.pivot_table(index='gear', columns='cyl', values='mpg','fill_value')

SyntaxError: positional argument follows keyword argument (<ipython-input-123-026e6556b138>, line 1)

In [126]:
wine=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)

In [127]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
0     178 non-null int64
1     178 non-null float64
2     178 non-null float64
3     178 non-null float64
4     178 non-null float64
5     178 non-null int64
6     178 non-null float64
7     178 non-null float64
8     178 non-null float64
9     178 non-null float64
10    178 non-null float64
11    178 non-null float64
12    178 non-null float64
13    178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [131]:
wine.columns=['WineClass','Alcohol','Malic acid','Ash','Alcalinity of Ash','Magnesium','Total phenols','Flavanoids','NonFlavanoids','Proanthocyanins','Color intensity','Hue','OD280/OD315 of diluted wines','Proline']

In [132]:
wine.head()

,WineClass,Alcohol,Malic acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,NonFlavanoids,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [133]:
wine.WineClass.value_counts()

2    71
1    59
3    48
Name: WineClass, dtype: int64

In [134]:
classby=pd.groupby(wine,wine.WineClass)

In [135]:
classby.mean()

,Alcohol,Malic acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,NonFlavanoids,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
WineClass,,,,,,,,,,,,,
1,13.744746,2.010678,2.455593,17.037288,106.338983,2.840169,2.982373,0.290000,1.899322,5.528305,1.062034,3.157797,1115.711864
2,12.278732,1.932676,2.244789,20.238028,94.549296,2.258873,2.080845,0.363662,1.630282,3.086620,1.056282,2.785352,519.507042
3,13.153750,3.333750,2.437083,21.416667,99.312500,1.678750,0.781458,0.447500,1.153542,7.396250,0.682708,1.683542,629.895833

In [136]:
wine.describe()

,WineClass,Alcohol,Malic acid,Ash,Alcalinity of Ash,Magnesium,Total phenols,Flavanoids,NonFlavanoids,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000